.color{
  color: #0F4C81;
  color:#B6CADA;
  color: #F5B895;
  color: #F4DBB3;

}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

.number {
    font-size: 1.2rem;
    color: red;
    font-weight: bolder;
}

body {
  width: 100vw;
  height: 100vh;
}
/* .container>div>div.row{
  background:#0F4C81 ;
} */
